* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #202022;
  color: #cacaca;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

h2 {
  color: #00bbc9;
}

section {
  width: 90%;
}

.nav-button {
  padding: 5px;
}

.nav-button:hover {
  background-color: #878787;
}

.menu-icon {
  width: 50px;
  height: 50px;
  background-color: #202022;
}

.menu-icon-path {
  fill: #00747c;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin: 0 20px;
}

#hero-section {
  min-width: 600px;
  max-width: 900px;
  margin: 100px 20px 20px 150px;
}

.spacer {
  height: 15px;
  background-color: #00747c;
}

img {
  border-radius: 3px;
  opacity: 0.5;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

a {
  text-decoration: none;
  color: #cacaca;
}

a:visited {
  color: none;
}

img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(103%);
          transform: scale(103%);
  border: 3px solid #00747c;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
  -webkit-transition: -webkit-filter ease-out 250ms;
  transition: -webkit-filter ease-out 250ms;
  transition: filter ease-out 250ms;
  transition: filter ease-out 250ms, -webkit-filter ease-out 250ms;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

#about-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  width: 75%;
  padding: 10px;
}

.profile-img-container {
  border-radius: 3px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #00747c;
  margin: 20px;
}

.profile-img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container .title-box,
.project-container .description-box {
  text-align: right;
}

.project-container:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-container:nth-child(odd) .title-box,
.project-container:nth-child(odd) .description-box {
  text-align: left;
}

.project-img-container {
  margin: 5px;
  border-radius: 3px;
  position: relative;
  background: #00747c;
  width: 55%;
  height: 300px;
}

.project-img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: left;
     object-position: left;
  height: 100%;
  width: 100%;
}

.project-info {
  width: 40%;
  margin: 5px;
  z-index: 3;
}

.title-box {
  background: #cacaca;
  color: #202022;
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 1px 15px;
  margin: 5px;
}

.description-box {
  padding: 15px;
  background: #00747c;
  color: #cacaca;
}

.project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-link {
  fill: #00bbc9;
  width: 30px;
}

.tech-stack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-container {
  padding: 10px;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .nav-xs {
    display: initial;
  }
  .nav-sm {
    display: none;
  }
  .project-container,
  .project-container:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-img-container,
  .project-img-container,
  .project-info,
  .project-spacer {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .nav-xs {
    display: none;
  }
  .nav-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=App.css.map */