@import './variables';

* {
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .nav-xs {
    display: initial;
  }
  .nav-sm {
    display: none;
  }
}

@media (min-width: 500px) {
  .nav-xs {
    display: none;
  }
  .nav-sm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

body {
  background-color: $primary-background;
  color: $text-light;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

section {
  width: 90%;
}

h1 {
}
button {
  display: contents;
}
.menu-icon {
  width: 50px;
  height: 50px;
  background-color: $primary-background;
}

.menu-icon-path {
  fill: $accent-color;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.spacer {
  height: 15px;
  background-color: $accent-color;
}

img {
  border-radius: 3px;
  opacity: 0.5;
  filter: grayscale(50%);
}

a {
  text-decoration: none;
  color: $primary-background;
}

a:visited {
  color: none;
}

img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(103%);
  border: 3px solid $accent-color;
  transition: opacity ease-out 250ms;
  transition: filter ease-out 250ms;
  transition: transform ease-out 250ms;
}

#about-section {
  width: 100%;
  display: flex;
  align-items: center;
}

.about-text {
  width: 75%;
  padding: 10px;
}

.profile-img-container {
  border-radius: 3px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $accent-color;
  margin: 20px;
}

.profile-img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
}

.project-img-container {
  border-radius: 3px;
  position: relative;
  background: $primary-background;
  width: 400px;
  height: 300px;
}

.project-img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  object-fit: none;
  object-position: top;
  height: 100%;
  width: 100%;
}

.project-container {
  border: 2px solid white;
  padding: 15px;
}

.title-box {
  background: black;
  color: $primary-background;
  border-radius: 3px;
  padding: 15px;
}

.description-box {
  padding: 15px;

  background: $primary-background;
  color: black;
}

.project-info {
  z-index: 3;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.tech-stack-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link-container {
  padding: 10px;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
